*
!/.gitignore

!/.dockerignore
!/.prettierrc
!/LICENSE
!/README.md
!/create-passwords.sh
!/docker-compose.yml
!/Dockerfile.*

!/config/
!/config/**/
!/config/**/*

!/scripts/
!/scripts/**/
!/scripts/**/*
